*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.road{
    background-image: url(../img/0aaae9c3-2d20-4635-a371-1b5c4e939624.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 700px;
}
.road img{
    width: 10%;
    position: relative;
    top: 20%;
    transform: rotatey(180deg);
    animation: 10s  infinite car;
}

@keyframes car {
    0% {
        left: 0;
    }
    50% {
        left: 100%;
        top: 20%;
        transform: rotatey(180deg);
    }
    51% {
        left: 100%;
        top: 60%; 
        transform: rotatey(0deg);
    }
    100%{
        left: 0;
        transform: rotatey(0deg);
        top: 60%; 
    }
}
